<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Главная</title>
        <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}" type="text/css" />
    </head>
    <body>
        <h3>Табель отсутствия сотрудников на работе</h3>

        <p>Кликните <a th:href="@{/add}">здесь</a> чтобы добавить сотрудника...</p>
        <p>Кликните <a th:href="@{/users}">здесь</a> для просмотра списка отсутствовавших сотрудников...</p>
    </body>
</html>