<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Табель...</title>
    <link rel="stylesheet" href="../static/css/default.css" th:href="@{/css/default.css}" type="text/css" />
</head>
<body>
    <h3>Выберите параметры сортировки:</h3>
    <form th:action="@{/report}" method="post">
    <table border="1" cellspacing="2" cellpadding="2">
        <tr>
            <td>
                <select name="fio" >
                    <option th:selected="${fio.isEmpty()}" value="">Все сотрудники</option>
                    <option th:each="employee : ${employees}" th:selected="${fio.equals(employee)}" th:inline="text">[[${employee}]]</option>
                </select>
            </td>
            <td>
                <select name="position" >
                    <option th:selected="${position.isEmpty()}" value="">Все должности</option>
                    <option th:each="posName : ${positions}" th:selected="${position.equals(posName)}" th:inline="text">[[${posName}]]</option>
                </select>
            </td>
            <td>
                <select name="date" >
                    <option th:selected="${date.isEmpty()}" value="">Все даты</option>
                    <option th:each="dateVal : ${dates}" th:selected="${date.equals(dateVal)}" th:inline="text">[[${dateVal}]]</option>
                </select>
            </td>
            <td><input type="submit" name="sent" value="Показать" /></td>
        </tr>
    </table>
    </form>

    <h3>Список сотрудников, отсутствовавших на работе:</h3>
    <h3 th:if="${reportDeleted}">Сотрудник удален!</h3>
    <h3 th:if="${reports.size() == 0}">По вашему запросу ничего не найдено!</h3>
    <table th:if="${reports.size() > 0}" border="1">
        <tr>
            <td><b>Идентификатор</b></td>
            <td><b>ФИО</b></td>
            <td><b>Должность</b></td>
            <td><b>Дата отсутствия</b></td>
            <td><b>Время отсутствия</b></td>
            <td><b>Причина</b></td>
            <td><b>Действия</b></td>
        </tr>
        <tr th:each="report : ${reports}">
            <td th:text="${report.getId()}"></td>
            <td th:text="${report.getFio()}"></td>
            <td th:text="${report.getPosition()}"></td>
            <td th:text="${report.getFormatDate()}"></td>
            <td th:text="${report.getFormatTime()}"></td>
            <td th:text="${report.getReason()}"></td>
            <td>
                <form th:action="@{/report}" method="post">
                    <input type="hidden" name="fio" th:value="${fio}" />
                    <input type="hidden" name="position" th:value="${position}" />
                    <input type="hidden" name="date" th:value="${date}" />
                    <input type="hidden" name="reportId" th:value="${report.getId()}" />
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
    <p><a th:href="@{/home}">Вернуться на главную страницу...</a></p>
</body>
</html>